<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="https://crowdin-web-components.s3.amazonaws.com/crowdin-web-components.js"></script>
    <script type="text/javascript" src="https://cdn.crowdin.com/apps/dist/iframe.js"></script>
    <script type="text/javascript" src="assets/js/polyfills/promise.js"></script>
    <script type="text/javascript" src="assets/js/polyfills/fetch.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
</head>
