<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
<div class="i_w center">
    <div>
        <h1>Looks like {{ name }} is not installed yet!</h1>
        <p>Contact your organization administrator to install it. More info on <a href='https://support.crowdin.com'>Link
            to how to install</a></p>
    </div>
</div>
</body>
</html>
